<h1><%= title %></h1>

<ul>
    <li><strong>Id:</strong> <%= schedule.id %></li>
    <li><strong>Title:</strong> <%= schedule.title %></li>
    <li><strong>Sport:</strong> <%= schedule.sport %></li>
    <li><strong>Year:</strong> <%= schedule.year %></li>
</ul>